.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 14.375rem;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  margin-left: -0.8rem;
  background-color: var(--background-icon);
  -webkit-mask: url(logo.svg) no-repeat;
  mask: url(logo.svg) no-repeat;
  mask-size: 105%;
}
