.header {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  list-style: 1.75rem;
}

.date {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  list-style: normal;
}

.text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  list-style: normal;
}
