.card_button {
  border-radius: 0.1875rem;
  background-color: var(--button-card-background);
  color: var(--button-card-color);
  padding: 1.25rem;
  border: none;
  cursor: pointer;
  text-align: start;
  display: block;
  width: 100%;

  &:hover {
    background-color: var(--button-card-background-hover);
  }
}
