.add_button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: 1rem;
  height: 1rem;
  background-color: var(--background-icon);
  -webkit-mask: url(plus.svg) no-repeat;
  mask: url(plus.svg) no-repeat;
  mask-size: 100%;
}
