.header {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  list-style: 1.75rem;
}

.content {
  display: flex;
  gap: 0.3125rem;
}

.date {
  color: var(--text-color-light);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  list-style: normal;
}

.text {
  color: var(--text-color);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  list-style: normal;
}
