.article {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  max-width: 15rem;
}

.date,
.post {
  font-size: 0.95rem;
  font-style: normal;
  font-weight: 400;
  list-style: normal;
}

.date {
  color: var(--text-color-light);
}

.post {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);
}
