.button {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-background);
  color: var(--button-color);
  cursor: pointer;
  border: none;
}

.accent {
  background-color: var(--button-submit-background);

  &:hover {
    background-color: var(--button-submit-background-hover);
  }
}
